{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <div class="container mt-3">
    <h1>Votre liste</h1>
    {% if items | length > 0 %}
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Article</th>
          <th>Quantité</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.article.name }}</td>
            <td>{{ item.quantite }}</td>
              <td><a href="{{ path('panier_remove', {'id': item.article.id}) }}"
                     onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')"
                     class="btn btn-danger btn-sm">supprimer</a>
                </a>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Votre panier est vide !</p>
    {% endif %}
    <a href="{{ path('article_index') }}" class="btn btn-secondary">Retour à la liste</a>
    <a href="{{ path('panier_pdf') }}" class="btn btn-primary">Export au format PDF</a>
    <a href="{{ path('panier_excel') }}" class="btn btn-info">Export au format Excel</a>
  </div>
{% endblock %}