{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-user font-large-1 float-left"></i>
            <h3>Connexion</h3>
        </div>
        <div class="card-body">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
            <div class="grey-bg container-fluid">
                <section id="minimal-statistics">
                    <div class="row">
                    </div>
                    <div class="row">
                        <v class="col-xl-3 col-sm-6 col-12">
                            <h4 class="text-white-50 mb-1" style="color: #1B2942 !important;">Email: </h4>
                            <form action="{{ path('security_login') }}" method="post">
                                <div class="form-outline form-white mb-4">
                                    <input placeholder="Adresse email..." requied name="_username"
                                           value="{{ lastUsername }}"
                                           type="text" class="form-control form-control-lg">
                                </div>
                                <h4 class="text-white-50 mb-1" style="color: #1B2942 !important;">Mot de passe: </h4>
                                <div class="form-form-outline form-white mb-1">
                                    <input placeholder="" requied name="_password"
                                           type="password" class="form-control form-control-lg">
                                    <button type="submit" class="btn btn-success" style="margin-left: 145px; margin-top: 30px;">Connexion</button>
                                    <a role="button" class="btn btn-danger"  style="margin-left: 40px;margin-top: -75px;" href="{{ path("home") }}" >Retour</a>
                                </div>
                            </form>
                        </v>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}