{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-header d-flex gap-2 align-items-center">
      <i class="fa fa-user font-large-1 float-left"></i>
      <h3>Inscription</h3>
    </div>
    <div class="card-body">
      <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
      <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              {{ form_start(form) }}
              {{ form_row(form.email, { 'attr': {'placeholder': 'Adresse email...' } }) }}
              {{ form_row(form.username, { 'label':'Nom d\'utilisateur', 'attr': {'placeholder':'Nom d\'utilisateur...' } }) }}
              {{ form_row(form.password, { 'label':'Mot de passe', 'attr': {'placeholder':'Mot de passe...' } }) }}
              {{ form_row(form.confirm_password, { 'label':'Répétez votre mot de passe', 'attr':{'placeholder':'Répétez votre mot de passe...' } }) }}
                <a role="button" class="btn btn-danger"  href="{{ path("home") }}">Retour</a>
              <button type="submit" class="btn btn-success">Inscription</button>
              {{ form_end(form) }}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}