{% block stylesheets %}{% endblock %}
<link rel="stylesheet" href="{{ asset('css/base.css') }}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand"><img id="Euskal Plantxa"
                                     src="https://euskal-plantxa.fr/wp-content/themes/euskal-plantxa/assets/icons/euskal-plantxa-symbole-black.svg"
                                     alt="Euskal Plantxa" draggable="false" height="35"/></a>
        <a href="{{ path('home') }}" class="navbar-brand">Euskal Plantxa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('admin_show') }}" class="nav-link ">Administration</a>
                    </li>
                {% elseif is_granted('ROLE_USER')%}
                <li class="nav-item">
                    <a href="{{ path('account_index') }}" class="nav-link">Mon compte</a>
                </li>
                {% endif %}
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_registration') }}" class="nav-link">Inscription</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
