{% extends 'base.html.twig' %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
    {% if not app.user %}
        <h1>Egun on</h1>
        <p>Veuillez vous connecter pour accéder au site.</p>
        <a href="{{ path('security_login') }}" class="btn btn-secondary">Connexion</a>
        <a href="{{ path('security_registration') }}" class="btn btn-primary">Inscription</a>
    {% else %}
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user primary font-large-1 float-left"></i>
                <div class="user-name">
                    <h3 class="mb-0 ml-3">Liste des utilisateurs</h3>
                </div>

            </div>
            <div class="card-body">
                <div class="grey-bg container-fluid">
                    <section id="minimal-statistics">
                        <div class="row">
                            {% for user in users %}
                                <div class="col-xl-3 col-sm-6 col-12">
                                    <div class="card">
                                        <div class="card-content ">
                                            <div class="card-body">
                                                <div class="media d-flex">
                                                    <div class="align-self-center">
                                                        <i class="fa fa-user primary font-large-2 float-left"></i>
                                                    </div>
                                                    <div class="media-body text-right" style="margin-top: 10px;">
                                                        <a href="{{ path('admin_user_edit', {'id': user.id }) }}"
                                                           style="color: #1B2942"><h5>{{ user.username }}</h5></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="btn btn-primary btn-md px-3"
                           href="{{ path("admin_show") }}">Retour</a>
                    </section>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}