{% extends 'base.html.twig' %}

{% block title %}Modifier un Utilisateur{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block body %}
  {{ form_start(formUser) }}
  {{ form_widget(formUser) }}
  <button type="submit" class="btn btn-success">Modifier</button>
  <a class="btn btn-danger"
     href="{{ path("admin_user_index") }}">Retour</a>
  {{ form_end(formUser) }}
{% endblock %}