{% extends 'base.html.twig' %}

{% block title %} Liste des Articles par par prix{% endblock %}

{% block body %}
  {{ form_start(form) }}
  <div class="form-row align-items-end">
    <div class="col"> {{ form_row(form.minPrice) }} </div>
    <div class="col"> {{ form_row(form.maxPrice) }} </div>
    <div class="col">
      <div class="form-group">
        <button type="submit" class="btn btn-success">Rechercher</button>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
  <table id="articles" class="table table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Catégorie</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <td>{{ article.name }}</td>
        <td>{{ article.price }}</td>
        <td>{{ article.category.title }}</td>
        <td>
          <a href="/article/{{ article.id }}" class="btn btn-info">Détails</a>
          <a href="/article/edit/{{ article.id }}" class="btn btn-warning">Modifier</a>
          <form method="post" action="{{ path('article_delete', {id: article.id}) }}"
                style="display: inline-block"
                onsubmit="return confirm('Etes-vous sûr de supprimer {{ article.name }} ?')">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">Supprimer</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}