{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
  <h1>Articles</h1>
  {% if articles %}
    <table id="articles" class="table table-striped">
      <thead>
      <tr>
        <th>Article</th>
        <th>Prix</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for article in articles %}
        <tr>
          <td>{{ article.name }}</td>
          <td>{{ article.price }}</td>
          <td>{{ article.category.title }}</td>
          <td>
            <a href="/article/{{ article.id }}" class="btn btn-info">Détails</a>
            {% if is_granted('ROLE_EDITOR') %}
            <a href="/article/edit/{{ article.id }}" class="btn btn-warning">Modifier</a>
            <form method="post" action="{{ path('article_delete', {id: article.id}) }}"
                  style="display: inline-block"
                  onsubmit="return confirm('Etes-vous sûr de supprimer {{ article.name }} ?')">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger">Supprimer</button>
            </form>
            {% endif %}
          </td>
        </tr> {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun article</p>
  {% endif %}
  <a href="{{ path('article_index') }}" class="btn btn-secondary mt-1">Retour</a>
{% endblock %}